@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.align-center {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#greeting {
    font-family:Georgia,serif;
    color:#666666;
    font-size:60px;
    line-height:1em;
    margin:0 0 0 60px;
}

#greeting strong {
    color:#61dafb;
    display:block;
    font-size:85px;
    font-weight:normal;
    letter-spacing:-3.5px;
    line-height:1em;
}